[APP]
# Leave empty to disable logging
LOGGING_FILE =irc-rc-gateway.log
# Notices the admin on the chat that some errors occured on the server
admin_username=

[RC]
HOST=
PORT=
HOOK_ADDR=
AVATAR_URL=
msgtemplate==*{sender}:* {msg}

[IRC]
HOST=
PORT=
ROOM=#example
BOT_NAME=
msgtemplate=<RC:{sender}> {msg}

# Can be empty
PASSWORD=

# Goes into ~example@yourprovidername.com when you log in
I=
DESCRIPT=

# Can be empty
welcome_msg=